<html>

<head><title>SeqGAN + Attention Sentence Generator</title></head>

<body>

    <!-- <form action="/generate_output" method="get" id="form1">
        Input sentence<br>
        <input type="text" name="text"><br>
        <button type="submit" form="form1" value="Submit">Generate!</button>
    </form> -->

    <form action="/generate" method="POST">
        <label for="">Input sentence</label>
        <input type="text" name="email"></input>
        <input type="submit" value="Signup"></input>
    </form>

</body>

</html>