<html>

<head><title>SeqGAN + Attention Sentence Generator</title></head>

<body>

    <!-- <form action="/generate_output" method="get" id="form1">
        Input sentence<br>
        <input type="text" name="text"><br>
        <button type="submit" form="form1" value="Submit">Generate!</button>
    </form> -->
    <br> <br> <br> <br> <br> <br> <br> <br> <br>
    <div class="container center_div">
            <div class="form-group row">
        <h4>
        <form class = 'form-group' action="/generate" method="POST">
            <label for="">Input Sentence</label><br><br>
            <input type="text" name="email" class="form-control"></input><br>
            <input type="submit" value="Generate" class="btn btn-primary"></input>
        </form>
        </h4>
    </div>
    

</body>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</html>