<html>

<head><title>SeqGAN + Attention Sentence Generator</title></head>

<body>
        <br> <br> <br> <br> <br> <br> <br> <br> <br>
        <div class="container center_div">
            <h4>

            	<label for="">Given Sentence</label><br><br>
	            {{ip}}
	            <br><br>
	            <hr size=2>

	            <label for="">SeqGan Output</label><br><br>
	            {{result2}}
	            <br><br>
	            <hr size=2>

	            <label for="">Attention Only Output</label><br><br>
	            {{result3}}
	            <br><br>
	            <hr size=2>

	            <label for="">Attention based SeqGan Output</label><br><br>
	            {{result1}}

	            <br><br>
	            <hr size=2>

            </h4>


        </div>
</body>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</html>